.button {
  border: none;
  padding: 16px 32px;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

.button-success {
  background-color: lime;
  color: white;
}

.button-success:hover {
  background-color: white;
  color: black;
  border: 2px solid lime;
}

.button-primary {
  background-color: #2073bd;
  color: white;
}

.button-primary:hover {
  background-color: white;
  color: black;
  border: 2px solid #2073bd;
}

.button-danger {
  background-color: #f44336;
  color: white;
}

.button-danger:hover {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.removeButton {
  background-color: #f44336;
  color: white;
  border: none;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.removeButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

#filterSearchBox {
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
}